version: '3'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '3005:3005'
    env_file:
      - .env
    depends_on:
      - mongodb
  mongodb:
    image: mongo:latest
    ports:
      - '27018:27017'
    volumes:
      - mongodb_data:/data/db
volumes:
  mongodb_data:
