version: '3'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '3000:3000'
    environment:
      NODE_ENV: production
      PORT: 3000
      ENVIRONMENT: dev
      MONGODB_URL: mongodb://mongodb:27017/groceryStore
      JWT_SECRET:
      LOG_LEVEL: info
    depends_on:
      - mongodb
  mongodb:
    image: mongo:latest
    ports:
      - '27018:27017'
    volumes:
      - mongodb_data:/data/db
volumes:
  mongodb_data:
